@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.container__pokemons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 200px 0;
    width: 100%;
    min-height: 100vh;
    transition: 0.5s;
}

.pokemon {
    width: 100%;
    max-width: 300px;
}

/*--POKEBALL--*/
.container__pokeball {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.pokeball {
    position: relative;
    z-index: 3;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    margin-right: 35px;
    /* animation: anim-name 2s infinite;*/
}

@keyframes anim-name {
    0% {
        transform: translate(0, 0) rotate(0)
    }

    25% {
        transform: translate(-8px, 0) rotate(-18deg)
    }

    33% {
        transform: translate(8px, 0) rotate(18deg)
    }

    50% {
        transform: translate(-8px, 0) rotate(-12deg)
    }

    60% {
        transform: translate(8px, 0) rotate(18deg)
    }

    100% {
        transform: translate(0, 0) rotate(0)
    }
}

.container__pokeball:hover .pokeball {
    transform: scale(0.8) translateY(10%) translateX(-50%);
    opacity: 0;
}

.pokeball__top {
    transition: 0.5s;
}

.container__pokeball:hover .pokeball__top {
    transform: translateY(-24%) translateX(-20%) rotate(-30deg);
    transition: 0.5s;
}

.pokeball__img1 {
    position: relative;
    transform: translateY(35%) translateX(-4%);
    width: 142%;
}

.pokeball__med {
    position: relative;
    width: 105%;
    transform: translateX(7%);
}

.pokeball__circle {
    width: 15%;
    height: 40%;
    border-radius: 50%;
    border: none;
    background-color: white;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 46%;
    transform: translateX(-50%) translateY(-46%);
    animation: pokeball-circle 0.5s linear infinite alternate;
}

.pokeball__img3 {
    position: relative;
    transform: translateY(-25%) translateX(1%);
    width: 120%;

}

.disable__Pokeball {
    display: none;
}

@keyframes pokeball-circle {
    from {
        background-color: red;
        box-shadow: 0 0 20px 1px red, 0 0 50px 25px rgb(223, 144, 144);
    }

    to {}
}

/*--CARD--*/
.pokeball__card {
    position: absolute;
    z-index: 7;
    transform: scale(0.1);
    opacity: 0;
    transition: 0.5s;
    width: 370px;
    height: 665px;
    font-family: 'Source Sans Pro', sans-serif;
    background-position: center;
    background-size: 100% 100%;
    margin: auto;
}

.container__pokeball:hover .pokeball__card {
    opacity: 1;
    transition: 0.5s;
    transform: scale(0.8);
}

.show__card {
    position: relative;
    z-index: 7;
    transform: scale(0.8);
    opacity: 1;
    transition: 0.5s;
    width: 370px;
    height: 665px;
    font-family: 'Source Sans Pro', sans-serif;
    background-position: center;
    background-size: 100% 100%;
}

.card__header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.card__img {
    position: relative;
    z-index: 3;
    width: 450px;
    height: 350px;
    transition: 0.5s;
}

.card__img:hover {
    scale: 1.1;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.538));
    transition: 0.5s;
}

.card__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}

.card__types {
    display: flex;
    gap: 20px;
    font-size: 1.4rem;
    color: #000000;
}

.card__name {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000;
    text-align: center;
}

.card__container__info {
    background-color: rgba(15, 10, 10, 0);
    backdrop-filter: blur(5px);
    width: 92%;
    height: 31.9%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.card__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    gap: 55px;
    column-gap: 5px;
    row-gap: 30px;
}

.card__statText {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    color: #000000;
}

.card__statNumber {
    font-size: 1.3rem;
    font-weight: 700;
}

.card__stat {
    background-color: rgba(255, 255, 255, 0.653);
    padding: 5px;
    border-radius: 50px;
}

.card__stat:nth-child(1) {
    position: absolute;
    left: 10px;
    bottom: 5px;
}

.card__stat:nth-child(2) {
    position: absolute;
    right: 10px;
    top: 80px;
}

.card__stat:nth-child(3) {
    position: absolute;
    left: 10px;
    bottom: 95px;
}

.card__stat:nth-child(4) {
    position: absolute;
    right: 10px;
    bottom: 50px;
    width: auto;
}

.card__stat:nth-child(5) {
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: auto;
}

.card__stat:nth-child(6) {
    position: absolute;
    left: 10px;
    bottom: 50px;
}

/*--TEMPLEATE CARD--*/
.templeate-normal {
    background-image: url(./public/img/templeate-basic.png)
}

.templeate-water {
    background-image: url(./public/img/templeate-water.png);

}

.templeate-fighting {
    background-image: url(./public/img/templeate-fighting.png);

}

.templeate-dark {
    background-image: url(./public/img/templeate-dark.png);
}

.templeate-grass {
    background-image: url(./img/templeate-grass.png)
}

.templeate-fire {
    background-image: url(./public/img/templeate-fire.png);
}

.templeate-electric {
    background-image: url(./public/img/templeate-electric.png);
}

.templeate-psychic {
    background-image: url(./public/img/templeate-psychic.png)
}

.templeate-fairy {
    background-image: url(./public/img/templeate-fairy.png);
}

.templeate-steel {
    background-image: url(./public/img/templeate-steel.png)
}

.templeate-poison {
    background-image: url(./public/img/templeate-poison.png)
}

.templeate-ice {
    background-image: url(./public/img/templeate-ice.png);
}

.templeate-dragon {
    background-image: url(./public/img/templeate-dragon.png)
}

.templeate-flying {
    background-image: url(./public/img/templeate-flying.png)
}

.templeate-bug {
    background-image: url(./public/img/templeate-bug.png)
}

.templeate-flying {
    background-image: url(./public/img/templeate-flying.png)
}

.templeate-ground {
    background-image: url(./public/img/templeate-ground.png)
}

.templeate-rock {
    background-image: url(./public/img/templeate-rock.png)
}

.templeate-ghost {
    background-image: url(./public/img/templeate-ghost.png)
}

/*--BACKGROUND CARD--*/
.card__background__img {
    width: 82.2%;
    height: 39%;
    position: absolute;
    z-index: 2;
    top: 17%;
    left: 51%;
    transform: translateY(-17%) translateX(-51%);
}

.background-normal {
    background-image: radial-gradient(circle, #bcbdca, #a9afb8, #99a1a6, #8c9294, #818383);
}

.background-water {
    background-image: radial-gradient(circle, #bcbdca, #a3aec6, #83a1c1, #5a95b9, #0b8aae);
}

.background-fighting {
    background-image: radial-gradient(circle, #f5daae, #efc486, #e9ac61, #e3943b, #dd7a10);
}

.background-dark {
    background-image: radial-gradient(circle, #7a7979, #666565, #525252, #404040, #2e2e2e);
}

.background-grass {
    background-image: radial-gradient(circle, #a3eaa2, #84d27f, #64bb5c, #44a339, #1a8c09);
}

.background-fire {
    background-image: radial-gradient(circle, #f5bec8, #ef9ca4, #e57b7c, #d65b51, #c13d22);
}

.background-electric {
    background-image: radial-gradient(circle, #e1e6a8, #dbe089, #d5da69, #cfd444, #c9cd00);
}

.background-psychic {
    background-image: radial-gradient(circle, #e4b8ec, #d699dc, #c97acc, #bc58ba, #af30a7);
}

.background-fairy {
    background-image: radial-gradient(circle, #e4b8ec, #e39cea, #e37de6, #e359e0, #e41ad7);
}

.background-steel {
    background-image: radial-gradient(circle, #ffffff, #e1e1e1, #c3c3c3, #a7a7a7, #8b8b8b);
}

.background-poison {
    background-image: radial-gradient(circle, #bba1c6, #a389b0, #8c719a, #745a85, #5e4470);
}

.background-ice {
    background-image: radial-gradient(circle, #aceff2, #8ad4dd, #6ab9ca, #489eb6, #2384a3);
}

.background-dragon {
    background-image: radial-gradient(circle, #f2ebac, #dad186, #c3b760, #ab9e3a, #948606);
}

.background-ground {
    background-image: radial-gradient(circle, #d7c7b9, #c7af9a, #b7977c, #a67f5f, #956843);
}

.background-rock {
    background-image: radial-gradient(circle, #e2dcd7, #cac3be, #b2aba5, #9b938d, #847c76);
}

.background-bug {
    background-image: radial-gradient(circle, #cee7b1, #b0ca98, #94ad7f, #789167, #5e7650);
}

.background-ghost {
    background-image: radial-gradient(circle, #dfc0d2, #c6a6bc, #ac8da6, #937591, #7a5e7d);
}


/*--PAGINATION--*/
.container__pagination {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination__list {
    display: flex;
}

.pagination__page {
    color: rgb(255, 255, 255);
    padding: 0px 8px;
    font-size: 1.5rem;
    transition: 0.5s;
    cursor: pointer;
}

.pagination__prev,
.pagination__next {
    padding: 3px 12px;
    font-size: 1.5rem;
    border-radius: 25px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.5s;
}

.pagination__active:hover {
    scale: 1.1;
    transition: 0.5s;
}

.pagination__active {
    color: rgb(128, 127, 127);
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.626);
    border: 7px double rgb(180, 180, 180);

}

.pagination__footer {
    margin-top: 50px;

}


/*--ASIDE--*/
.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.aside input {
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    text-align: center;
    font-size: 1rem;
    color: gray;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 7px 7px 10px 1px rgba(111, 110, 110, 0.626);
    transition: 0.5s;
    width: 40%;
    margin: 0 3%;
}

.aside button {
    padding: 10px 30px;
    border-radius: 25px;
    --green: #e84c4c;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(253, 27, 27, 0.1) 1%, transparent 40%, transparent 60%, rgba(253, 27, 27, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(253, 27, 27, 0.4), 0 0 9px 3px rgba(253, 27, 27, 0.1);
    transition: 0.5s;
    cursor: pointer;
}

.aside button:hover {
    scale: 1.05;
    transition: 0.5s;
}

.aside select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    color: #000000;
    appearance: none;
    border-left: 2px solid rgba(255, 255, 255, 0.136);
    border-bottom: 2px solid rgba(255, 255, 255, 0.067);
}

.aside select option {
    background-color: rgba(0, 0, 0, 0.396);
    text-align: center;
    padding: 10px;
}

.aside select option:hover {
    transform: scale(2);
}

/*BUTTON CHANGE POKEBALL*/
.change__pokeball__btn {
    padding: 10px 30px;
    position: absolute;
    z-index: 0;
    border-radius: 0px 0px 0px 0px;
    top: 40%;
    left: 50%;
    transition: 0.5s;
    transform: translateX(-50%);
    --green: #e84c4c;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(253, 27, 27, 0.1) 1%, transparent 40%, transparent 60%, rgba(253, 27, 27, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(253, 27, 27, 0.4), 0 0 9px 3px rgba(253, 27, 27, 0.1);
}

.change__pokeball__btn:hover {
    border-radius: 10px 0px 10px 0px;
    transition: 0.5s;
    top: 39%;
}


/*--FOOTER--*/
.footer {
    background-color: #0b8bae00;
    color: aliceblue;
    width: 100%;
    height: 120px;
    border-top: 2px solid #e84c4c;
    position: relative;
    box-shadow: 0px 0 10px 1px rgba(253, 27, 27, 0.4), 0 0 9px 3px rgba(253, 27, 27, 0.1);
}

.footer__circle {
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50px;
    border: 2px solid #e84c4c;
    box-shadow: inset 0px 0 10px 5px rgba(253, 27, 27, 0.4), 0 0 9px 3px rgba(253, 27, 27, 0.1);
}


/*--POKEDEX--*/
.pokedex {
    width: 400px;
    height: 500px;
    border-radius: 20px;
    background-color: lightblue;
    position: relative;
    overflow: hidden;
}

.pokedex__top {
    width: 100%;
    height: 20%;
    background-color: rgb(185, 33, 33);
    position: absolute;
    overflow: hidden;
}

.pokedex__down {
    width: 100%;
    height: 20%;
    background-color: rgb(185, 33, 33);
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

.pokedex__top__circle1 {
    width: 48%;
    height: 150px;
    background-color: black;
    border-radius: 50%;
    border: 10px double white;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    z-index: 1;
}

.pokedex__top__circle2 {
    width: 80%;
    height: 150px;
    background-color: lightblue;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 13%;
    transform: translateX(-50%);
    z-index: 2;
}

.pokedex__down__circle1 {
    width: 48%;
    height: 150px;
    background-color: black;
    border-radius: 50%;
    border: 10px double white;
    position: absolute;
    left: 50%;
    bottom: 25%;
    transform: translateX(-50%);

}

.pokedex__down__circle2 {
    width: 80%;
    height: 150px;
    background-color: lightblue;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 13%;
    transform: translateX(-50%);
    z-index: 2;
}

.pokedex__center__square {
    width: 80%;
    height: 270px;
    margin: 0 auto;
    position: absolute;
    background-color: rgb(110, 186, 219);
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 50% 100%, 24% 76%, 0% 75%);
}



@media (min-width:400px) {

    .pagination__page {
        font-size: 1.7rem;
        transition: 0.5s;
    }

    .pagination__prev,
    .pagination__next {
        padding: 1px 13px;
        font-size: 1.8rem;
        border-radius: 25px;
        transition: 0.5s;
    }

}

@media (min-width:560px) {

    .pagination__page {
        font-size: 2rem;
        transition: 0.5s;
        margin: 0 10px;
    }

    .pagination__prev,
    .pagination__next {
        padding: 1px 15px;
        font-size: 2rem;
        border-radius: 25px;
        transition: 0.5s;
    }

}